name: wc-versioning

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  check-changesets:
    name: Check for changesets
    runs-on: ubuntu-latest
    outputs:
      has_changesets: ${{ steps.check_files.outputs.has_changesets }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for .changeset files
        id: check_files
        run: |
          if ls .changeset/*.md 1> /dev/null 2>&1; then
            echo "has_changesets=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_changesets=false" >> "$GITHUB_OUTPUT"
          fi

  versioning:
    name: versioning
    runs-on: ubuntu-latest
    needs: check-changesets
    if: needs.check-changesets.outputs.has_changesets == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout ci-toolbox
        uses: actions/checkout@v4
        with:
          repository: itsferdiardiansa/ci-toolbox
          ref: ${{ github.workflow_ref }}
          path: .ci-toolbox

      - name: Setup
        uses: ./.ci-toolbox/actions/setup-node

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Generate Version Data
        id: capture_versions
        env:
          REPO_URL: "https://github.com/${{ github.repository }}"
          BRANCH_NAME: "changeset-release/main"
        run: |
          if pnpm changeset status --output=release.json; then
            echo "HAS_CHANGES=true" >> "$GITHUB_OUTPUT"
            
            COMMIT_MSG=$(jq -r '.releases[0] | "chore(release): bump version \(.oldVersion) to \(.newVersion)"' release.json)
            echo "COMMIT_MSG=$COMMIT_MSG" >> "$GITHUB_ENV"

            PR_BODY="| Package Name | Previous Version | Next Version |\n"
            PR_BODY="$PR_BODY| :--- | :--- | :--- |\n"
            PR_BODY="$PR_BODY$(jq -r '.releases | map("| `\(.name)` | `\(.oldVersion)` | `\(.newVersion)` |") | join("\n")' release.json)"
            PR_BODY="$PR_BODY\n\n## Release Details\n"
            PR_BODY="$PR_BODY\nThis PR was automatically generated by Changesets to prepare for a new release. Please review the following:"
            PR_BODY="$PR_BODY\n- **Version Bumps:** The packages listed in the table above will be versioned."
            
            PR_BODY="$PR_BODY\n- **Changelog:** All developer-facing changes are documented in the [CHANGELOG.md]($REPO_URL/blob/$BRANCH_NAME/CHANGELOG.md) file."
            
            PR_BODY="$PR_BODY\n\n### Next Steps\n"
            PR_BODY="$PR_BODY\nOnce this PR is merged, the manual **Publish Package** workflow can be run to deploy these changes to NPM and create the official GitHub Release."

            echo 'PR_BODY<<EOF' >> "$GITHUB_OUTPUT"
            echo -e "$PR_BODY" >> "$GITHUB_OUTPUT"
            echo 'EOF' >> "$GITHUB_OUTPUT"

            rm release.json
          else
            echo "HAS_CHANGES=false" >> "$GITHUB_OUTPUT"
            echo "No changesets found. Skipping version PR."
          fi

      - name: Run Changeset Version
        if: steps.capture_versions.outputs.HAS_CHANGES == 'true'
        run: pnpm changeset:version

      - name: Create or Update Pull Request
        if: steps.capture_versions.outputs.HAS_CHANGES == 'true'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <4s1898282+github-actions[bot]@users.noreply.github.com>
          commit-message: ${{ env.COMMIT_MSG }}
          branch: "changeset-release/main"
          title: ${{ env.COMMIT_MSG }}
          body: ${{ steps.capture_versions.outputs.PR_BODY }}
          add-paths: |
            .changeset/
            CHANGELOG.md
            package.json
            pnpm-lock.yaml
          delete-branch: true
          labels: release, automated